$blue500: #2196F3;
$blue50: #E3F2FD;
$black: #000000;
$green800: #2E7D32;
$green600: #43A047;
$white: #FFFFFF;


div {
}

.App {
  height: 80vh;
  margin: 2%;

}

.main-container {
	height: 100%;
}

.content-container {
	display: flex;
	flex-flow: columns;
	font-family: Helvetica;
	height: 100%;

}

.navbar-container {
	background-color: blue;
}

.sidebar-container {
	background-color: red;
	padding: 4%;
}

.mapbox-container {
	background-color: yellow;
	text-align: center;
	width: 100%;
}

.musicbox-container {
	background-color: yellow;
	text-align: center;
	width: 100%;
}

.playlistbox-container {
	background-color: yellow;
	text-align: center;
	width: 100%;
}

.login-box{
	text-align: center;
}

.login-header{
	font-family: Helvetica;
	font-size: 5em;
}

.login-button{
	background-color: $green600;
	text-decoration: none;
	text-align: center;
	font-size: 1em;
	font-family: Helvetica;
	padding-top: 2%;	
	padding-bottom: 2%;
	padding-left: 15%;
	padding-right: 15%;
	border-radius: 2em;
	color: $white;
}

