$blue50: #E3F2FD;
$blue300: #4DD0E1;
$blue500: #2196F3;
$black: #000000;
$green800: #2E7D32;
$green600: #43A047;
$white: #FFFFFF;
$grey100: #CFD8DC;
$grey900: #263238;
$grey800: #37474F;

body{
	background-color: $grey900;
}

div {
	font-family: Helvetica;
	color: $white;
}

.App {
  height: 80vh;
  margin: 2%;

}

.main-container {
	height: 100%;
}

.content-container {
	display: flex;
	flex-flow: columns;
	height: 100%;
}

.sidebar-container {
	background-color: $grey800;
	padding: 4%;
}

.mapbox-container {
	// background-color: $blue300;
	text-align: center;
	width: 100%;
}



.playlistbox-container {
	// background-color: $blue300;
	text-align: center;
	width: 100%;
}

