div {
	/*border: solid 1px black;*/
}

.App {
  height: 80vh;
  margin: 2%;

}

.main-container {
	height: 100%;
}

.content-container {
	display: flex;
	flex-flow: columns;
	font-family: Helvetica;
	height: 100%;

}

.navbar-container {
	background-color: blue;
}

.sidebar-container {
	background-color: red;
	padding: 4%;
}

.mapbox-container {
	background-color: yellow;
	text-align: center;
	width: 100%;
}

.musicbox-container {
	background-color: yellow;
	text-align: center;
	width: 100%;
}

.playlistbox-container {
	background-color: yellow;
	text-align: center;
	width: 100%;
}

.login-box{
	background-color: white;
}